@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #F8F9FA;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  body > div > aside,
  body > div > main > div > header,
  body > div > main > div > section:not([aria-label="Payslip Preview"]),
  body > div > main > div > footer {
    display: none !important;
  }
  body > div > main {
    overflow: visible !important;
    margin-left: 0 !important;
  }
  body > div > main > div {
    padding: 0 !important;
  }
}